/* ===================================== 
   Grid Layout
======================================== */

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 200px minmax(350px,100%);
    grid-template-rows: 80px;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-areas: 
      "aside header header"
      "aside main main";
}
  
header {
grid-area: header;
display: flex;
align-items: center;
}

aside {
  grid-area: aside;  
}

main {
  grid-area: main;
}

.main-grid {
  display: grid;
  grid-template-columns: minmax(350px, 100%) 340px;
  row-gap: 20px;
  column-gap: 20px;
  grid-template-areas:
    "text right-side"
    "tech right-side"
}

