/* ===================================== 
   Grid Layout
======================================== */

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 200px minmax(350px,1100px) 340px;
    grid-template-rows: 80px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-areas: 
      "aside header header"
      "aside main main2";
}
  
header {
grid-area: header;
display: flex;
align-items: center;
}

aside {
  grid-area: aside;  
}

main {
    grid-area: main;
}

right-sidebar {
  grid-area: main2;
  display: flex;
}