html {
  height: 100%;
}

body {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  margin: 20px;
  background-image: url('background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: 100% 70%;
}

p {
  margin: 0 0 1em 0;
}

body p:last-child {
  margin-bottom: 0em;
}

a {
  text-decoration: none;
  color: #ffffff;
}

/* Main home area */
/*#region*/

.home-header {
  background: rgba(24, 55, 87, 0.79);
  min-width: 400px;
  max-width: 920px;
  justify-content: center;
}

.home-header h1 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Arima Madurai;
  font-size: 42px;
  font-weight: 400;
  line-height: 1em;
  text-align: center;
}

.home-text-container {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  max-width: 880px;
  height: fit-content;
  background: rgba(24, 55, 87, 0.79);
  font-size: 24px;
  padding: 20px;
  flex: 1;
}

.home-text-container h1 {
  font-family: Arima Madurai;
  font-size: 48px;
  font-weight: bold;
  padding-right: 20px;
  margin: 0px;
}

/*#endregion*/

/* Main project area */
/*#region*/

.project-header {
  background: rgba(24, 55, 87, 0.79);
  max-width: 1280px;
  min-width: 700px;
  justify-content: center;
  align-items: center;
}

.project-header h1 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Arima Madurai;
  line-height: 1em;
  font-size: 42px;
  font-weight: 400;
  text-align: center;
}

.main-project-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-width: 700px;
  max-width: 1300px;
  row-gap: 20px;
}

.main-project-text-box {
  background: rgba(24, 55, 87, 0.79);
  font-size: 24px;
  padding: 20px 20px 0 20px;
  min-width: 400px;
  max-width: 880px;
  margin-right: 20px;
  flex: 1;
}

.main-project-text-box a {
  text-decoration: underline;
}

.main-project-text-box h3 {
  text-decoration: underline;
  font-size: inherit;
  font-weight: inherit;
}

.main-project-technology-wrapper {
  display: flex;
  grid-area: tech;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

.main-project-technology-container {
  background: rgba(24, 55, 87, 0.79);
  min-width: 514px;
  height: 150px;
  padding: 20px;
  flex: 1;
}

.main-project-technology-box {
  display: flex;
  height: 140px;
  max-width: 1280px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
}

.main-project-technology-box h3 {
  font-size: 24px;
  line-height: 0%;
  text-decoration: underline;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 400;
}

.main-project-technology-box-logo-container {
  display: flex;
  align-items: center;
}

/*#endregion*/

/* Right sidebar */
/*#region*/
.right-sidebar {
  width: 340px;
}

.right-sidebar-links-container {
  display: flex;
  width: 340px;
  padding-top: 0px;
  margin-bottom: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.right-sidebar-links-container a {
  display: flex;
  background: rgba(24, 55, 87, 0.79);
  border: 1px solid #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 2px;
  padding-bottom: 2px;
  width: 140px;
  height: 33px;
  justify-content: center;
  align-items: center;
}

.right-sidebar-screenshots-container {
  display: flex;
  background: rgba(24, 55, 87, 0.79);
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/*#endregion*/

/* Left sidebar */
/*#region*/
aside {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  width: 200px;
  height: 100%;
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: rgba(24, 55, 87, 0.79);
  flex-direction: column;
  align-items: center;
}

aside ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Left sidebar - Headshot */

.left-sidebar-headshot {
  display: flex;
  margin-top: 20px;
}

.left-sidebar-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 10px;
}

.left-sidebar-text-container h2 {
  font-size: 25px;
  font-weight: 400;
  margin: auto;
}

.left-sidebar-text-container h3 {
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  margin: auto;
}

/* Left sidebar - navigation bar */

.left-sidebar-nav {
  display: flex;
  flex-direction: column;
}

.left-sidebar-nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 51px;
  width: 200px;
}

.left-sidebar-nav a:hover {
  transition: all 0.2s ease;
  background-color: #ffffff;
  color: #262E31;
}

.left-sidebar-nav .selected {
  background-color: #ffffff;
  color: #262E31;
  border-bottom: 1px solid #262E31;
  border-top: 1px solid #262E31;
}

/*Left sidebar project sub-menu */

.left-sidebar-nav-sub {
  display: flex;
  flex-direction: column;
}

.left-sidebar-nav-sub a {
  display: inline-flex;
  font-size: 18px;
  height: 30px;
  width: 190px;
  padding-left: 10px;
  justify-content: flex-start;
}

.left-sidebar-nav-sub a::before {
  content: "\003E";
  display: inline;
  padding-right: 5px;
}

/*#endregion*/

/* Modal */

.screenshot-modal {
  display: flex;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.screenshot-modal img {
  height: 80%;
}

/* Project gallery */
/*#region*/
.project-gallery-wrapper {
  background: rgba(24, 55, 87, 0.79);
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: baseline;
}

.project-gallery-header {
  background: rgba(24, 55, 87, 0.79);
  max-width: 100%;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.project-gallery-header h1 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Arima Madurai;
  font-size: 42px;
  font-weight: 400;
  text-align: center;
}

.project-gallery-project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.project-gallery-project-container h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 1em;
  margin-top: 0;
  text-align: center;
}

.project-gallery-project-container img {
  width: 300px;
  padding-bottom: 5px;
}

/*#endregion*/

.slide-enter-active,
.slide-exit-active {
  transition: transform 2000ms ease;
}

.slide-enter {
  transform: translateY(100%)
}

.slide-enter.slide-enter-active {
  transform: translateY(0%);
}

.slide-exit {
  position:absolute;
  top: 0;
  left: 200;
  width: 1080px;
  transform: translateY(0%);
}

.slide-exit-active {
  transform: translateY(-100%);
}

.page-fade-enter {
  opacity: 0;
}

.page-fade-enter-active {
  opacity: 0;
  transition: opacity 5000ms;
}

.page-fade-enter-done {
  opacity: 1;
}

.page-fade-exit {
  opacity: 0;
}

.page-fade-exit-active {
  opacity: 0;
  transition: opacity 5000ms;
}

.page-fade-exit-done {
  opacity: 1;
}