html {
  height: 100%;
}

body {
  color:#ffffff;
  font-family: 'Open Sans', sans-serif;
  margin: 20px;
  background-image: url('background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: 100% 70%;
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

/* Header */

header {
  background: rgba(24, 55, 87, 0.79);
  max-width: 100%;
  min-width: 813px;
  gap: 20px;
  justify-content: center;
}

header h1 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Open Sans', sans-serif;
  font-size: 42px;
  font-weight: 400;
  text-align: center;
}

/* Main home area */
/*#region*/
.home-text-container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  min-width: 300px;
  max-height: 300px;
  margin-top: -100px;
  background: rgba(24, 55, 87, 0.79);
  font-size: 24px;
  padding: 0px 20px 20px 20px;
}

.home-text-container h1 {
  font-family: Arima Madurai;
  font-size: 48px;
  font-weight: bold;
  padding-right: 20px;
  margin: 0px;
}
/*#endregion*/

/* Main project area */
/*#region*/

.main-project-wrapper {
  display: flex;
  flex-direction: row;
  min-width: 912px;
}

.main-project-text-box {
  background: rgba(24, 55, 87, 0.79);
  font-size: 24px;
  padding: 20px;
  min-width: 514px;
  max-width: 1300px;
}

.main-project-text-box a {
  text-decoration: underline;
}

.main-project-text-box h3 {
  text-decoration: underline;
  font-size: inherit;
  font-weight: inherit;
}

.main-project-technology-wrapper {
  display: flex;
  grid-area: tech;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

.main-project-technology-container {
  background: rgba(24, 55, 87, 0.79);
  min-width: 514px;
  height: 150px;
  padding: 20px;
  flex: 1;
}

.main-project-technology-box {
  display: flex;
  height: 140px;
  max-width: 1280px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
}

.main-project-technology-box h3 {
  font-size: 24px;
  line-height: 0%;
  text-decoration: underline;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 400;
}

.main-project-technology-box-logo-container {
  display: flex;
  align-items: center;
}

/*#endregion*/

/* Project gallery */
/*#region*/
.project-gallery-wrapper {
  display: flex;
  background: rgba(24, 55, 87, 0.79);
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px 20px 20px 20px;
  justify-content: center;
  align-items: baseline;
}

.project-gallery-project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.project-gallery-project-container h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 1em;
  margin-top: 0;
  text-align: center;
}

.project-gallery-project-container img {
  width: 300px;
  padding-bottom: 5px;
}
/*#endregion*/

/* Right sidebar */
/*#region*/
.right-sidebar {
  grid-area: right-side;
  width: 300px;
}

.right-sidebar-links-container {
  display: flex;
  width: 340px;
  padding-top: 0px;
  padding-right: 20px;
  margin-bottom: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.right-sidebar-links-container a {
  display: flex;
  background: rgba(24, 55, 87, 0.79);
  border: 1px solid #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 2px;
  padding-bottom: 2px;
  width: 140px;
  height: 33px;
  justify-content: center;
  align-items: center;
}

.right-sidebar-screenshots-container {
  display: flex;
  background: rgba(24, 55, 87, 0.79);
  width: 340px;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*#endregion*/

/* Left sidebar */
/*#region*/
aside {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  height: 100%;
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: rgba(24, 55, 87, 0.79);
  flex-direction: column;
  align-items: center;
}

aside ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Left sidebar - Headshot */

.left-sidebar-headshot {
  display: flex;
  margin-top: 20px;
}

.left-sidebar-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 10px;
}

.left-sidebar-text-container h2 {
  font-size: 25px;
  font-weight: 400;
  margin: auto;
}

.left-sidebar-text-container h3 {
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  margin: auto;
}

/* Left sidebar - navigation bar */

.left-sidebar-nav {
  display: flex;
  flex-direction: column;
}

.left-sidebar-nav a {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 14px;
  height: 51px;
  width: 186px;
}

.left-sidebar-nav a:hover {
  transition: all 0.2s ease;
  background-color: #ffffff;
  color: #262E31;
}

.left-sidebar-nav .selected {
  background-color: #ffffff;
  color: #262E31;
  border-bottom: 1px solid #262E31;
  border-top: 1px solid #262E31;
}

.left-sidebar-nav-sub {
  display: flex;
  flex-direction: column;
}

.left-sidebar-nav-sub a {
  display: inline-flex;
  font-size: 18px;
  height: 30px;
  width: 170px;
  padding-left: 20px;
  justify-content: flex-start;
}

.left-sidebar-nav-sub a::before {
  content: "\003E";
  display: inline;
  padding-right:5px;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid #ffffff;
  border-bottom: 50px solid transparent;
}
/*#endregion*/

/* Modal */

.screenshot-modal {
  display: flex;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.screenshot-modal img {
  height: 80%;
}